{#
/**
 * @file
 * Default alert message template.
 *
 * Available variables:
 * - message_read: Whether the message has been read or not.
 * - message_id: The message id.
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_alert_message()
 */
#}
{% if not message_read %}
  <article{{ attributes }} style="padding:10px; border: 1px solid black; margin-top: 1rem;">
    <button class="alert-message-close" type="button" data-message-id="{{ message_id }}" style="float: right;">&#x2715;</button>
    {% if view_mode != 'full' %}
      {{ title_prefix }}
      {{ title_suffix }}
    {% endif %}
    {% if content %}
      {{- content -}}
    {% endif %}
  </article>
{% endif %}
